.price {
  color: red;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.name {
  padding-top: 5px;
  font-weight: bolder;
  margin-top: 5px;
  font-family: serif;
}
.free {
  font-weight: bold;
  margin: 2px;
  font-family: "Courier New", monospace;
}
