.add {
  font-weight: bold;
  text-align: right;
  display: inline-flexbox;
  position: relative;
  width: 50%;
  /* border: 1px solid red; */
  float: right;
  top: -90px;
}
.add input {
  width: 2.5rem;
  border: 1px solid #ccc;
  margin-left: 0.5rem;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);
}
.add button {
  background-color: rgb(162, 19, 0);
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  color: white;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
}
.add label {
  margin-bottom: 3px;
}
