.summary {
  background-color: rgba(64, 70, 76, 0.8);
  max-width: 50%;
  max-height: auto;
  color: white;
  text-align: center;
  margin: 25px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  /* 0.5 for transperency */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* for 3d effect */
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
}
